body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f8ff; /* Azul claro */
}

.container {
    text-align: center;
    max-width: 800px; /* Margem maior nas laterais */
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff; /* Fundo branco */
}

header {
    text-align: center;
    margin-bottom: 20px;
}

label, input, button {
    display: block;
    margin: 10px auto;
    width: calc(100% - 20px); /* Reduz a largura dos elementos */
    max-width: 300px; /* Limita a largura máxima dos elementos */
    box-sizing: border-box; /* Considera padding e borda na largura */
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    font-size: 1.2em;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

#plano-cartesiano {
    margin-top: 20px;
    position: relative;
    width: 100%;
    max-width: 400px; /* Limita a largura máxima do plano cartesiano */
    height: 0;
    padding-bottom: 100%; /* Mantém proporção 1:1 do plano cartesiano */
    border: 1px solid #ccc;
    margin: 0 auto;
}